body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.banner {
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.banner h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.5rem;
}

